<body class=" container-fluid row">
    <div class="row ml-3" style="background-image: url(./assets/form.jpg); background-repeat: no-repeat;
    background-attachment: fixed;background-size: cover;width:100%;height: 700px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 pt-5">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <div *ngIf="form.data.id>0; then hUpdate else hAdd"></div>
                        <ng-template #hAdd>
                            <h1>{{'Add College'|translate}}</h1>
                        </ng-template>
                        <ng-template #hUpdate>
                            <h1>{{'Update College'|translate}}</h1>
                        </ng-template>
                    </div>
                    <div class="col-4" *ngIf="form.error && form.message!=null" class="alert alert-danger">
                        {{form.message}}
                    </div>
                    <div class="col-4" *ngIf="!form.error && form.message!=null" class=" alert alert-success">
                        {{form.message}}
                    </div>
                    <form>
                        <div class="form-group row">
                            <label for="name" class="form-check-label">{{'College Name'|translate}}:
                                <span class="text-danger">*</span></label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-university grey-text"></i> </div>
                                </div>
                                <input type="text" [(ngModel)]="form.data.name" name="name" class="form-control"
                                    placeholder="{{'Enter College Name'|translate}}" id="name" [value]="form.data.name">
                            </div>
                            <span class="text-danger mr-auto mb-auto  "> {{form.inputerror.name}}
                            </span>
                        </div>

                        <div class="form-group row">
                            <label for="address" class="form-check-label">{{'Address'|translate}}:
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-map-marker grey-text"></i> </div>
                                </div>
                                <input type="text" [(ngModel)]="form.data.address" name="address" class="form-control"
                                    placeholder="{{'Enter Address'|translate}}" id="lName">
                            </div>

                            <span class="text-danger mr-auto mb-auto"> {{form.inputerror.address}} </span>
                        </div>
                        <div class="form-group row">
                            <label for="mNo" class="form-check-label">{{'City'|translate}}:
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-location-arrow grey-text"></i> </div>
                                </div>
                                <input type="text" [(ngModel)]="form.data.city" name="city" class="form-control"
                                    placeholder="{{'Enter College City'|translate}}"id="mNo">
                            </div>

                            <span class="text-danger mr-auto mb-auto"> {{form.inputerror.city}} </span>
                        </div>
                        <div class="form-group row">
                            <label for="state" class="form-check-label">{{'State'|translate}}:
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-address-card grey-text"></i> </div>
                                </div>
                                <input type="text" [(ngModel)]="form.data.state" name="state" class="form-control"
                                    placeholder="{{'Enter College State'|translate}}" id="state">
                            </div>

                            <span class="text-danger mr-auto mb-auto"> {{form.inputerror.state}} </span>
                        </div>
                        <div class="form-group row">
                            <label for="phoneNo" class="form-check-label">{{'Phone No'|translate}}:
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-phone grey-text"></i> </div>
                                </div>
                                <input type="text" [(ngModel)]="form.data.phoneNo" name="phoneNo" class="form-control"
                                    placeholder="{{'Enter Phone Number'|translate}}" id="mNo">
                            </div>

                            <span class="text-danger mr-auto mb-auto"> {{form.inputerror.phoneNo}} </span>
                        </div>


                        <div class="form-inline">
                            <div class="col-4"></div>
                            <div class="">
                                <div *ngIf="form.data.id>0; then update else add"></div>
                                <ng-template #add>
                                    <button (click)="submit()"
                                        class="btn btn-success">{{'Save'|translate}}</button>&nbsp;
                                        <button (click)="reset()"
                                        class="btn btn-secondary">{{'Reset'|translate}}</button>&nbsp;
                                </ng-template>
                                <ng-template #update>
                                    <button (click)="submit()"
                                        class="btn btn-success ">{{'Update'|translate}}</button>&nbsp;
                                    <button (click)="cancel()" class="btn btn-secondary">{{'Cancel'|translate}}</button>
                                </ng-template>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</body>