<body class=" container-fluid row">
    <div class="row ml-3" style="padding-top: 0%; background-image: url(./assets/form.jpg); background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;width:100%;
    height: 700px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 pt-5">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <h1>{{'Change Password'|translate}}</h1>

                        <div class="col-4" *ngIf="form.error && form.message!=null" class="alert alert-danger">
                            {{form.message}}
                        </div>
                        <div class="col-4" *ngIf="!form.error && form.message!=null" class=" alert alert-success">
                            {{form.message}}
                        </div>
                        <form>
                            <div class="form-group row">
                                <label for="password" class="form-check-label">{{'Old Password'|translate}}:
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-key grey-text"></i> </div>
                                    </div>
                                    <input type="password" [(ngModel)]="form.data.oldPassword" name="oldPassword"
                                        class="form-control" placeholder="{{'Enter Old Password'|translate}}" id="oldPassword">
                                </div>

                                <span class="text-danger mr-auto mb-auto "> {{form.inputerror.oldPassword}} </span>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="form-check-label">{{'New Password'|translate}}:
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-key grey-text"></i> </div>
                                    </div>
                                    <input type="password" [(ngModel)]="form.data.password" name="password"
                                        class="form-control" placeholder="{{'Enter New Password'|translate}}" id="password">
                                </div>

                                <span class="text-danger mr-auto mb-auto "> {{form.inputerror.password}} </span>
                            </div>
                            <div class="form-group row">
                                <label for="confirmPassword" class="form-check-label">{{'Confirm Password'|translate}}:
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-key grey-text"></i> </div>
                                    </div>
                                    <input type="password" [(ngModel)]="form.data.confirmPassword"
                                        name="confirmPassword" class="form-control" placeholder="{{'Confirm Password'|translate}}"
                                        id="confirmPassword">
                                </div>

                                <span class="text-danger mr-auto mb-auto "> {{form.inputerror.confirmPassword}} </span>
                            </div>
                            <div class="form-inline">
                                <div class="col-4"></div>
                                <div class="text-center">
                                    <button (click)="submit()" class="btn btn-success ">{{'Save'|translate}}</button>&nbsp;
                                    <button class="btn btn-primary  " (click)="this.forward('myprofile')">{{'My
                                        Profile'|translate}}</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>