<body class="container-fluid row ">
    <div class="row ml-3" style="padding-top: 0%; background-image: url(../../assets/list.jpg); background-repeat: no-repeat;
    background-attachment: fixed;background-size: cover;width:100%;height: 650px;bottom: 0%;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center" style="margin-top: 15%;">
            <h1 class="text-center  alert alert-danger" >{{'Page Not Found'|translate}},<br> {{'Enter valid
                URL'|translate}}</h1>
                
                <button class="btn btn-primary " (click)="forward('/dashboard')" >{{'Back'|translate}}</button>
    
            </div>
        </div>
</body>