<body class="container-fluid text-center">
  <div class="content-wrapper" style="padding-top: 0%; background-image: url(./assets/list.jpg); background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;width:100%;
    height: 850px;bottom: 0%;">
  <div class="d-flex bg-primary text-white paddin ">
    <h1 class="text-center container-fluid ">{{'Marksheet List'|translate}}</h1>
  </div>
  <div class="text-center row">
    <div class="col-3"></div>
    <form class="form-inline pt-3  ">
      <div class="form-group  pr-3">
        <label for="name" class="form-check-label pr-3 ">{{'Student Name'|translate}} : </label>
        <input type="text" class="form-control" placeholder="{{'Enter Student Name'|translate}}" name="name"
          [(ngModel)]="form.searchParams.name" id="name">
      </div>
      <div class="form-group pr-3">
        <label for="rollNo" class="form-check-label pr-3 ">{{'Roll No'|translate}} : </label>
        <input type="text" class="form-control" name="rollNo" id="rollNo" placeholder="{{'Enter Roll Number'|translate}}"
          [(ngModel)]="form.searchParams.rollNo">
      </div>


      <button class="btn-primary btn" (click)="submit()">{{'Search'|translate}}</button>&nbsp;&nbsp;
      <button class="btn btn-secondary" (click)="reset()">{{'Reset'|translate}}</button>
    </form>
  </div>
  <br>
  <div class="col-6  " *ngIf="form.error" class="alert alert-danger"> {{form.message}}</div>
  <div class="col-6 " *ngIf="!form.error && (form.message != null)" class="alert alert-success">
    {{form.message}}</div>

  <br>
  <div class="p-1">
    <div class="table-responsive-sm">
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light text-uppercase">
          <tr>
            <th>{{'S.No'|translate}}</th>
            <th>{{'Roll No'|translate}}</th>
            <th>{{'Student Name'|translate}}</th>
            <th>{{'Physics'|translate}}</th>
            <th>{{'Maths'|translate}}</th>
            <th>{{'Chemistry'|translate}}</th>
            <th>{{'Total'|translate}}</th>
            <th>{{'Percentage'|translate}}</th>
            <th>{{'Result'|translate}}</th>
            <th>{{'Edit'|translate}} / {{'Delete'|translate}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let marksheet of form.list; let i = index">
            <td> {{((form.pageNo-1)*10)+i+1}} </td>
            <td> {{ marksheet.rollNo }} </td>
            <td> {{ marksheet.name }} </td>
            <td> {{ marksheet.physics }} </td>
            <td> {{ marksheet.maths }} </td>
            <td> {{ marksheet.chemistry }} </td>
            <td> {{ (marksheet.physics+marksheet.maths+marksheet.chemistry) }} /300</td>
            <td> {{ (marksheet.physics+marksheet.maths+marksheet.chemistry)/3 | number:'1.0-2' }} </td>
            <td>
              <div class="" *ngIf="result(marksheet.physics,marksheet.maths,marksheet.chemistry);then pass else fail ">
              </div>
              <ng-template #pass>
                <div class="text-success font-weight-bold"> Pass </div>
              </ng-template>
              <ng-template #fail>
                <div class="text-danger font-weight-bold "> Fail </div>
              </ng-template>
            </td>
            <td><a (click)="forward( '/marksheet/' +  marksheet.id)" style="cursor: pointer;">
                <i class="fa fa-edit" style="font-size:20px;color:blue"></i>
              </a> / <a (click)="delete(marksheet.id)" style="cursor: pointer;">
                <i class="fa fa-trash-o" style="font-size:20px;color:red"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <form class="form-inline ">
    <div class="col-4 text-left ">
      <div *ngIf="form.pageNo>1; then sus else fail"></div>
      <ng-template #sus>
        <button (click)="previous()" class="btn btn-success">{{'previous'|translate}}</button>
      </ng-template>
      <ng-template #fail>
        <button (click)="previous()" disabled class="btn btn-light ">{{'previous'|translate}}</button>
      </ng-template>
    </div>
    <div class=" col-4 text-center ">
      <button class="btn-primary btn " (click)="forward('/marksheet/')">{{'Add'|translate}}</button>
    </div>
    <div class=" col-4 text-right ">
      <div *ngIf="form.count>(form.pageSize*form.pageNo);then susN else failN"></div>
      <ng-template #susN>
        <button (click)="next()" class="btn btn-success">{{'next'|translate}}</button>
      </ng-template>
      <ng-template #failN>
        <button (click)="next()" disabled class="btn btn-light">{{'next'|translate}}</button>
      </ng-template>
    </div>
  </form>
  
  <br><br>
  </div>
</body>