<body class="container-fluid text-center">
    <div class="content-wrapper" style="padding-top: 0%; background-image: url(./assets/list.jpg); background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;width:100%;
      height: 850px;bottom: 0%;">
  <div class="d-flex bg-primary text-white paddin ">
    <h1 class="text-center container-fluid ">{{'Faculty List'|translate}}</h1>
  </div>
  <div class="text-center col-12 row">
    <div class="col-2"></div>
    <form class="form-inline pt-3  ">
      <div class="form-group  pr-3">
        <label for="fName" class="form-check-label pr-3 ">{{'First Name'|translate}} : </label>
        <input type="text" class="form-control" placeholder="{{'Enter Name'|translate}}" name="firstName"
          [(ngModel)]="form.searchParams.firstName" id="fName">
      </div>
      <div class="form-group pr-3">
        <label for="email" class="form-check-label pr-3 ">{{'Email Id'|translate}} : </label>
        <input type="text" class="form-control" name="email" id="email" placeholder="{{'Enter Email Id'|translate}}"
          [(ngModel)]="form.searchParams.email">
      </div>
      <div class="form-group pr-3">
        <label for="role" class="form-check-label pr-3">{{'College'|translate}} :</label>&nbsp;
        <select class="form-control" name="collegeId" [(ngModel)]="form.searchParams.collegeId" id="college">
          <option [value]=0 [disabled]="true" selected disabled>{{'Select College'|translate}}</option>
          <option *ngFor="let opt of form.preload.collegeList" [value]="opt.id">{{opt.name}}</option>
        </select>
      </div>
      <button class="btn-primary btn" (click)="submit()">{{'Search'|translate}}</button>&nbsp;&nbsp;
      <button class="btn btn-secondary" (click)="reset()">{{'Reset'|translate}}</button>
    </form>
  </div>
  <br>
  <div class="col-6  " *ngIf="form.error" class="alert alert-danger"> {{form.message}}</div>
      <div class="col-6 " *ngIf="!form.error && (form.message != null)" class="alert alert-success">
        {{form.message}}</div>
  
  <br>
  <div class="p-1">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light text-uppercase">
          <tr>
            <th>{{'S.No'|translate}}</th>
            <th>{{'First Name'|translate}}</th>
            <th>{{'Last Name'|translate}}</th>
            <th>{{'Email Id'|translate}}</th>
            <th>{{'Gender'|translate}}</th>
            <th>{{'College'|translate}}</th>
            <th>{{'Course'|translate}}</th>
            <th>{{'Subject'|translate}}</th>
            <th>{{'Phone'|translate}}</th>
            <th>{{'DOB'|translate}}</th>
            <th>{{'Edit'|translate}} / {{'Delete'|translate}}</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let faculty of form.list; let i = index">
            <td> {{((form.pageNo-1)*10)+i+1}} </td>
            <td> {{ faculty.firstName }} </td>
            <td> {{ faculty.lastName }} </td>
            <td> {{ faculty.email }} </td>
            <td> {{ faculty.gender }} </td>
            <td> {{ faculty.collegeName }} </td>
            <td> {{ faculty.courseName }} </td>
            <td> {{ faculty.subjectName }} </td>
            <td> {{ faculty.mobileNo }} </td>
            <td> {{ faculty.dob | date : 'dd-MM-yyyy'}} </td>
            <td><a (click)="forward( '/faculty/' +  faculty.id)" style="cursor: pointer;">
                <i class="fa fa-edit" style="font-size:20px;color:blue"></i>
              </a> / <a (click)="delete(faculty.id)" style="cursor: pointer;">
                <i class="fa fa-trash-o" style="font-size:20px;color:red"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  <div class=" col-12 form-inline mb-0  ">
    <div class="col-4 text-left ">
      <div *ngIf="form.pageNo>1; then sus else fail"></div>
      <ng-template #sus>
        <button (click)="previous()" class="btn btn-success">{{'previous'|translate}}</button>
      </ng-template>
      <ng-template #fail>
        <button (click)="previous()" disabled class="btn btn-light ">{{'previous'|translate}}</button>
      </ng-template>
    </div>
    <div class="col-4 text-center ">
      <button class="btn-primary btn " (click)="forward('/faculty/')">{{'Add'|translate}}</button>
    </div>
    <div class="col-4 text-right ">
      <div *ngIf="form.count>(form.pageSize*form.pageNo);then susN else failN"></div>
      <ng-template #susN>
        <button (click)="next()" class="btn btn-success">{{'next'|translate}}</button>
      </ng-template>
      <ng-template #failN>
        <button (click)="next()" disabled class="btn btn-light">{{'next'|translate}}</button>
      </ng-template>
    </div>
  </div>
  <br><br>
  </div>
  </body>